<h2 mat-dialog-title>Check-In for "{{ this.activeEvent.title }}"</h2>

<form [formGroup]="checkInForm" novalidate> 

    <mat-form-field>
      <input matInput class="form-control" formControlName="email" placeholder="Email Address" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput class="form-control" formControlName="characterName" placeholder="Character Name" required>
    </mat-form-field>

    <br />
    <br />
    <button mat-raised-button color="primary" type="submit" (click)="checkIn()" [disabled] = "this.checkInForm.invalid" >Check In</button>
</form>