<div layout="row" layout-align="center center">
    <mat-card class="example-form">
        <br/>
        <h2>Character Sheet</h2>

        <form class="example-form" [formGroup]="characterForm" novalidate>
            <div class="form-group">
                
                <mat-form-field color="accent">
                    <input matInput class="form-control" formControlName="accumulatedXP" type="number" step="any" placeholder="Accumulated Experience Points"/>
                </mat-form-field>

                <mat-form-field color="accent">
                    <input matInput class="form-control" formControlName="availableXP" type="number" step="any" placeholder="Available Experience Points"/>
                </mat-form-field>

                <mat-form-field color="accent">
                    <input matInput class="form-control" formControlName="name" placeholder="Name" required/>
                    <mat-error *ngIf="this.characterForm.invalid">Character name is required</mat-error>
                </mat-form-field>
                
                <mat-form-field color="accent">
                    <mat-select class="form-control" formControlName="status" placeholder="Status">
                        <mat-option *ngFor="let status of characterMetadata.statuses" [value]="status.id">
                        {{ status.name }}
                        </mat-option>
                    </mat-select> 
                </mat-form-field>
                
                <mat-form-field color="accent">
                    <mat-select class="form-control" formControlName="species" placeholder="Species">
                        <mat-option *ngFor="let type of characterMetadata.species" [value]="type.id">
                        {{ type.name }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field color="accent">
                    <mat-select class="form-control" formControlName="stressResponse" placeholder="Psy Profile">
                        <mat-option *ngFor="let stressResponse of characterMetadata.stressResponses" [value]="stressResponse.id">
                        {{ stressResponse.name }}
                        </mat-option>
                    </mat-select> 
                </mat-form-field>

                <mat-form-field color="accent">
                    <input matInput class="form-control" formControlName="hStatus" value="" placeholder="H. Status"/>
                </mat-form-field>

                <mat-checkbox formControlName="cloneStatus" (change)="addCloneModifiers()">Clone Status</mat-checkbox>

                <br/>

                <mat-form-field color="accent">
                    <mat-select class="form-control" formControlName="occupation" placeholder="Occupation" (change)="updateAvailableSideGigs()">
                        <mat-option *ngFor="let occupation of characterMetadata.occupations" [value]="occupation.id" >
                        {{ occupation.name }}
                        </mat-option>
                    </mat-select> 
                </mat-form-field>

                <mat-form-field color="accent">
                    <mat-select class="form-control" formControlName="sideGig" placeholder="Side Gig" [disabled] = "this.characterForm.value.occupation == null">
                        <mat-option *ngFor="let sideGig of characterMetadata.sideGigs" [value]="sideGig.id">
                        {{ sideGig.name }}
                        </mat-option>
                    </mat-select> 
                </mat-form-field>

                <mat-divider class="divider"></mat-divider>

                <h2 class="title">Skills</h2>

                <div *ngFor="let index of getSkillIndices()">
                    <mat-form-field color="accent">
                        <mat-select placeholder="Skill Name" [formControlName]="'skill' + index" required>
                            <mat-option *ngFor="let skill of characterMetadata.skills" [value]="skill.id">
                                {{ skill.name }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field color="accent">
                        <input matInput [formControlName]="'mastery' + index" type="number" placeholder="Mastery Level" required/>
                    </mat-form-field>
                    <button mat-button color="warn" (click)="deleteSkill(index)">Delete</button>
                </div>

                <button mat-raised-button color="accent" (click)="addSkill()" >Add Skill</button>

                <mat-divider class="divider"></mat-divider>

                <h2 class="title">Damage Report</h2>

                <mat-form-field color="accent">
                    <input matInput class="form-control" formControlName="torso" type="number" placeholder="Torso Health"/>
                </mat-form-field>

                <mat-form-field color="accent">
                    <input matInput class="form-control" formControlName="rightArm" type="number" placeholder="Right Arm Health"/>
                </mat-form-field>

                <mat-form-field color="accent">
                    <input matInput class="form-control" formControlName="leftArm" type="number" placeholder="Left Arm Health"/>
                </mat-form-field>

                <mat-form-field color="accent">
                    <input matInput class="form-control" formControlName="rightLeg" type="number" placeholder="Right Leg Health"/>
                </mat-form-field>

                <mat-form-field color="accent">
                    <input matInput class="form-control" formControlName="leftLeg" type="number" placeholder="Left Leg Health"/>
                </mat-form-field>

            </div>
            <button mat-raised-button color="primary" type="submit" (click)="save()" [disabled] = "this.characterForm.invalid" >Save</button>

        </form>
    </mat-card>
</div>