<mat-card class="reset-form">
  <mat-card-title>Reset Password</mat-card-title>
  <p *ngIf="!this.resetSuccess">Please enter the new password for your account:</p>
  <form *ngIf="!this.resetSuccess" [formGroup]="resetPasswordForm" novalidate>
    <div class="form-group">
  
      <mat-form-field color="accent">
        <input matInput class="form-control" formControlName="password" placeholder="New Password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <br />

      <mat-form-field [color]="resetPasswordForm.invalid ? 'warn' : 'accent'">
        <input matInput class="form-control" formControlName="confirmPassword" placeholder="Confirm Password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <div class="error" *ngIf="resetPasswordForm.invalid">*Passwords are required and must match</div>
  
    </div>
    <button mat-raised-button color="primary" (click)="resetPassword()" [disabled] = "this.resetPasswordForm.invalid" >Save</button>
  </form>
  <div class="error" *ngIf="resetPasswordForm.invalid">Error: {{ error }}</div>
  <mat-spinner *ngIf="this.isLoading" style="margin:0 auto; opacity: 0.5;"></mat-spinner>
  <p *ngIf="this.resetSuccess">Your password has successfully been reset!  Please return to the <a routerLink="/login">login page</a> to get signed in.</p>
</mat-card>
