<mat-dialog-content>
    <mat-table #table [dataSource]="npcShifts">
      <ng-container matColumnDef="startDateTime" >
        <mat-header-cell *matHeaderCellDef> Shift Start </mat-header-cell>
        <mat-cell *matCellDef="let shift" > {{shift.startDateTime | date : "short"}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="endDateTime">
        <mat-header-cell *matHeaderCellDef> Shift End </mat-header-cell>
        <mat-cell *matCellDef="let shift" > {{shift.endDateTime | date : "short"}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="npcCount">
        <mat-header-cell *matHeaderCellDef> NPCs </mat-header-cell>
        <mat-cell *matCellDef="let shift" > {{shift.npcCount}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let shift" >
              <button mat-raised-button color="warn" (click)="addToShift(shift)" >Add To Shift</button> 
        </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns; sticky : true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-dialog-content>