<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
        <mat-list-item routerLinkActive="active" routerLink="/dashboard/home" role="listitem">
          <mat-icon class="margin-right-space">home</mat-icon>
          Home
        </mat-list-item>
        <mat-list-item *ngIf="this.roles.indexOf('Admin') !== -1" routerLinkActive="active" routerLink="/dashboard/settings" role="listitem">
          <mat-icon class="margin-right-space">settings</mat-icon>
          Settings
        </mat-list-item>
        <mat-list-item *ngIf="this.roles.indexOf('Admin') !== -1" routerLinkActive="active" routerLink="/dashboard/event-list" role="listitem">
          <mat-icon class="margin-right-space">calendar_today</mat-icon>
          Events
        </mat-list-item>
        <!-- <mat-list-item *ngIf="this.roles.indexOf('Admin') !== -1" routerLinkActive="active" routerLink="/dashboard/characters" role="listitem">Characters</mat-list-item> -->
        <mat-list-item *ngIf="this.roles.indexOf('Admin') !== -1" routerLinkActive="active" routerLink="/dashboard/user-list" role="listitem">
          <mat-icon class="margin-right-space">people</mat-icon>
          User Management
        </mat-list-item>
        <mat-list-item *ngIf="this.roles.indexOf('Admin') !== -1" routerLinkActive="active" routerLink="/dashboard/check-in" role="listitem">
          <mat-icon class="margin-right-space">check_box</mat-icon>
          Check-In 
        </mat-list-item>
        <mat-list-item *ngIf="this.roles.indexOf('Admin') !== -1" routerLinkActive="active" routerLink="/dashboard/npc-shifts" role="listitem">
          <mat-icon class="margin-right-space">schedule</mat-icon>
          NPC Shifts
        </mat-list-item>
        <mat-list-item *ngIf="this.roles.indexOf('Admin') !== -1" routerLinkActive="active" routerLink="/dashboard/hacking-setup" role="listitem">
          <mat-icon class="margin-right-space">widgets</mat-icon>
          Hacking Game Setup
        </mat-list-item>
        <mat-list-item routerLinkActive="active" routerLink="/dashboard/pre-registration" role="listitem">
          <mat-icon class="margin-right-space">attach_money</mat-icon>
          Pre-Registration
        </mat-list-item>
        <mat-list-item routerLinkActive="active" (click)="logout()" role="listitem">
          <mat-icon class="margin-right-space">power_setting</mat-icon>
          Logout
        </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
        <span><mat-icon class="margin-right-space">stars</mat-icon>Last Frontier Database</span>
    </mat-toolbar>
    <app-loading></app-loading>
    <div id="Content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
