.table-link {
    color: #FFF;
    text-decoration: underline;
    cursor: pointer;
}

.tbd {
    font-style: italic;
}

.inline-spacing {
    margin-right: 0.5em;
    margin-top: 0.5em;
}

.wide {
    min-width: 150px;
    max-width: 300px;
    width: 100%;
}