<div layout="row" layout-align="center center">
  <mat-card>
    <br />
    <h2>Player Details</h2>
    <p>Player {{ this.player.id }}</p>

    <form [formGroup]="userForm" novalidate>
      <div class="form-group">
        <mat-form-field color="accent">
          <input matInput class="form-control" formControlName="firstName" type="text" placeholder="First Name">
        </mat-form-field>

        <mat-form-field color="accent">
          <input matInput class="form-control" formControlName="lastName" type="text" placeholder="Last Name">
        </mat-form-field>

        <mat-form-field color="accent">
          <input matInput class="form-control" formControlName="email" type="text" placeholder="Email">
        </mat-form-field>

        <mat-form-field color="accent">
          <input matInput class="form-control" formControlName="emailConfirmed" type="text" placeholder="Email Confirmed" [disabled]="true">
        </mat-form-field>
      </div>

      <button mat-raised-button color="primary" (click)="save()" [disabled] = "this.userForm.invalid" >Save</button>

    </form>
    <button mat-raised-button color="primary" (click)="openDialog()">Create new character</button>
  </mat-card>
</div>