<h2 class="character-search-header"><mat-icon>search</mat-icon>Character Search:</h2>
<form class="example-form">
    <mat-form-field class="example-full-width">
      <input #searchBox type="text" placeholder="Search..." aria-label="Number" matInput [formControl]="searchControl" [matAutocomplete]="auto" (keyup)="search(searchBox.value)">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let character of characters$ | async" [value]="character.name">
          <a class="table-link" (click)="routeToCharacterDetail(character)">
            {{ character.name }}
          </a>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>