.example-form {
    min-width: 25%;
    max-width: 30%;
    width: 100%;
    display: inline-block
}

.character-search-header {
    display: inline-block;
    margin-right: 1em;
    margin-left: 2em;
}

.example-full-width {
    width: 100%;
}

.table-link {
    color: #FFF;
}