<mat-toolbar color="primary" flex>
  <div class="toolbar-container">
    <div style="float: left">
      <span><mat-icon class="margin-right-space">stars</mat-icon>Last Frontier Database</span>
    </div>
    <div style="float: right">
      <button mat-raised-button color="accent" (click)="logout()"><mat-icon class="margin-right-space">power_setting</mat-icon> Logout</button>
    </div>
  </div>
</mat-toolbar>
<mat-sidenav-container layout-fill class="sidenav" flex>
  <mat-sidenav opened mode="side">
      <mat-nav-list role="list">
        <mat-list-item routerLinkActive="active" routerLink="/dashboard/home" role="listitem">
          <mat-icon class="margin-right-space">home</mat-icon>
          Home
        </mat-list-item>
        <mat-list-item routerLinkActive="active" routerLink="/dashboard/settings" role="listitem">
          <mat-icon class="margin-right-space">settings</mat-icon>
          Settings
        </mat-list-item>
        <mat-list-item *ngIf="this.role === 'Admin'" routerLinkActive="active" routerLink="/dashboard/event-list" role="listitem">
          <mat-icon class="margin-right-space">calendar_today</mat-icon>
          Events
        </mat-list-item>
        <!-- <mat-list-item *ngIf="this.role === 'Admin'" routerLinkActive="active" routerLink="/dashboard/characters" role="listitem">Characters</mat-list-item> -->
        <mat-list-item *ngIf="this.role === 'Admin'" routerLinkActive="active" routerLink="/dashboard/user-list" role="listitem">
          <mat-icon class="margin-right-space">people</mat-icon>
          User Management
        </mat-list-item>
        <mat-list-item *ngIf="this.role === 'Admin'" routerLinkActive="active" routerLink="/dashboard/check-in" role="listitem">
          <mat-icon class="margin-right-space">check_box</mat-icon>
          Check-In 
        </mat-list-item>
        <mat-list-item *ngIf="this.role === 'Admin'" routerLinkActive="active" routerLink="/dashboard/npc-shifts" role="listitem">
          <mat-icon class="margin-right-space">schedule</mat-icon>
          NPC Shifts
        </mat-list-item>
        <mat-list-item routerLinkActive="active" routerLink="/dashboard/pre-registration" role="listitem">
          <mat-icon class="margin-right-space">attach_money</mat-icon>
          Pre-Registration
        </mat-list-item>
      </mat-nav-list>
  </mat-sidenav>
  <div>
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>