.example-container {
    display: flex;
    flex-direction: column;
}

/*
.toolbar-container {
    height: 2em;
    width: 100%;
}*/

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.full-width {
    width: 100%;
}

.margin-right-space {
    margin-right: 3px;
}