<mat-toolbar color="primary">
  <span>Last Frontier Admin View </span>
  <span class="fill-remaining-space"></span>
  <button mat-raised-button color="accent" (click)="logout()">Logout</button>
</mat-toolbar>
<mat-sidenav-container class="sidenav">
  <mat-sidenav opened mode="side">
      <mat-nav-list role="list">
        <mat-list-item routerLinkActive="active" routerLink="/dashboard/home" role="listitem">Home</mat-list-item>
        <mat-list-item routerLinkActive="active" routerLink="/dashboard/settings" role="listitem">Settings</mat-list-item>
        <mat-list-item *ngIf="this.role === 'Admin'" routerLinkActive="active" routerLink="/dashboard/event-list" role="listitem">Events</mat-list-item>
        <!-- <mat-list-item *ngIf="this.role === 'Admin'" routerLinkActive="active" routerLink="/dashboard/characters" role="listitem">Characters</mat-list-item> -->
        <mat-list-item *ngIf="this.role === 'Admin'" routerLinkActive="active" routerLink="/dashboard/user-list" role="listitem">User Management</mat-list-item>
        <mat-list-item *ngIf="this.role === 'Admin'" routerLinkActive="active" routerLink="/dashboard/check-in" role="listitem"> Check-In </mat-list-item>
        <mat-list-item *ngIf="this.role === 'Admin'" routerLinkActive="active" routerLink="/dashboard/npc-shifts" role="listitem">NPC Shifts</mat-list-item>
      </mat-nav-list>
  </mat-sidenav>
  <div class="example-container mat-elevation-z8">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>