<div *ngIf="!purchaseComplete && !pageError">
  <h1>Pre-registration for {{ event.title }}</h1>
  <button *ngIf="this.roles.indexOf('Admin') !== -1" mat-raised-button color="primary" (click)="selectPlayer()"><mat-icon>person_add</mat-icon>Select Player to Register</button>
  <div>Player to register: {{ identity.firstName }} {{ identity.lastName }}</div>

  <mat-chip-list>
    Available Volunteer Points:<mat-chip color="accent" selected>{{ availableVolunteerPoints }}</mat-chip>
  </mat-chip-list>
  <button mat-button color="accent" (click)="addCharacter()" [disabled] = "preRegistrationForm.invalid || availableCharacters.length == 0">
    + Add another character
  </button>
  <form [formGroup]="preRegistrationForm" novalidate>
    <div class="field-grouping" *ngFor="let dropDown of characterDropDowns">
      <mat-icon class="margin-right-space">person</mat-icon>
      <mat-form-field color="accent">
        <mat-select placeholder="Select a Character" [formControlName]="dropDown.controlName">
          <mat-option *ngFor="let character of dropDown.characterList" [value]="character.id" (click)="updateCharacterDropDowns(dropDown, character)">
            {{ character.name }}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="required(dropDown.controlName)">*Value is required</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <input 
        min="0"
        max="20" 
        step="1"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        matInput 
        class="form-control" 
        [formControlName]="dropDown.vpToXpControlName" 
        (change)="updateVpTotal()" 
        type="number" 
        placeholder="VP to XP"/>
        <mat-hint align="start">Between 0 and 20</mat-hint>
        <mat-error *ngIf="isXpOver20(dropDown.vpToXpControlName)">*Value must be between 0 and 20</mat-error>
        <mat-error *ngIf="required(dropDown.vpToXpControlName)">*Value is required</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <input
        min="0"
        max="20" 
        step="1"
        onkeypress="return event.charCode >= 48 && event.charCode <= 57"
        matInput 
        class="form-control" 
        [formControlName]="dropDown.paidXpControlName"
        (change)="updateXpTotal()" 
        type="number" 
        placeholder="Purchase to XP"/>
        <mat-hint align="start">Between 0 and 20</mat-hint>
        <mat-error *ngIf="isXpOver20(dropDown.paidXpControlName)">*Value must be between 0 and 20</mat-error>
        <mat-error *ngIf="required(dropDown.paidXpControlName)">*Value is required</mat-error>
      </mat-form-field>
      <mat-chip-list class="help">
        <mat-chip selected>{{ dropDown.totalXp }}XP</mat-chip>
        <mat-chip color="accent" selected>${{ dropDown.subTotal }}</mat-chip>
      </mat-chip-list>
      <button mat-button color="warn" (click)="deleteCharacter(dropDown)"><mat-icon>delete</mat-icon>Delete</button>
    </div>
  </form>
  <mat-error *ngIf="availableVolunteerPoints < 0">Exceeded available VP!</mat-error>
  <button mat-raised-button color="primary" type="submit" (click)="checkout()" [disabled] = "preRegistrationForm.invalid || availableVolunteerPoints < 0 || characterDropDowns.length == 0" >
    <mat-icon>shopping_cart</mat-icon>
    Check out
  </button>
  <div class="error" *ngIf="requestFailure">Error: {{ errors }}</div>
  <div>Amount: {{ amount | currency }}</div>
  <mat-spinner *ngIf="isLoading" style="margin:0 auto; opacity: 0.5;"></mat-spinner>
</div>
<div *ngIf="pageError">
  {{ pageErrors }}
</div>
<div *ngIf="purchaseComplete">
  <h1>Your purchase has been completed!</h1>
  <p>You'll receive a conformation email shortly with your order details.</p>
</div>