<div layout="row" layout-align="center center">
  <br />
  <h1>Event Details</h1>

  <form [formGroup]="eventForm" novalidate>
    <div class="form-group">

      <mat-form-field color="accent">
        <input matInput class="form-control" formControlName="title" type="text" placeholder="Title" required>
      </mat-form-field>

      <mat-form-field color="accent">
        <input matInput class="form-control" formControlName="location" type="text" placeholder="Location">
      </mat-form-field>

      <mat-form-field color="accent">
        <mat-label>Start Date</mat-label>
        <input matInput [matDatepicker]="startDate" formControlName = "startDate" required>
        <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
        <mat-datepicker #startDate></mat-datepicker>
      </mat-form-field>
      
      <mat-form-field color="accent">
        <mat-label>End Date</mat-label>
        <input matInput [matDatepicker]="endDate" formControlName = "endDate" required>
        <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
        <mat-datepicker #endDate></mat-datepicker>
      </mat-form-field>

      <mat-form-field color="accent">
        <textarea matInput class="form-control" formControlName="description" placeholder="Description"></textarea>
      </mat-form-field>

      <mat-form-field color="accent">
        <textarea matInput class="form-control" formControlName="details" placeholder="Details"></textarea>
      </mat-form-field>

      <mat-checkbox formControlName="isActiveEvent">Is this event active?</mat-checkbox>

    </div>
    <button mat-raised-button color="primary" type="submit" (click)="save()" [disabled] = "this.eventForm.invalid" >Save</button>
  </form>
</div>
<br />
<br />

<h1>Attending Characters</h1>

<button mat-raised-button color="primary" (click)="openDialog()" >Add Character to Event</button>
<br />
<br />
<mat-table #table [dataSource]="attendingCharacters">
    <ng-container matColumnDef="playerName" >
        <mat-header-cell *matHeaderCellDef> Player Name </mat-header-cell>
        <mat-cell *matCellDef="let characterEventWithPlayer" > {{characterEventWithPlayer?.player.identity.firstName + " " + characterEventWithPlayer?.player.identity.lastName}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="characterName" >
        <mat-header-cell *matHeaderCellDef> Character Name </mat-header-cell>
        <mat-cell *matCellDef="let characterEventWithPlayer" > {{characterEventWithPlayer.characterEvent.character.name}} </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="vpToXp">
        <mat-header-cell *matHeaderCellDef> VP -> XP </mat-header-cell>
        <mat-cell *matCellDef="let characterEventWithPlayer" > 
          <mat-form-field floatLabel="never">
            <input matInput placeholder="vpToItems" (blur)="saveVpToItems(characterEventWithPlayer.characterEvent)"[value]="characterEventWithPlayer.characterEvent.vpToXp" [(ngModel)]="characterEventWithPlayer.characterEvent.vpToXp">
          </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="vpToItems">
        <mat-header-cell *matHeaderCellDef> VP -> Items </mat-header-cell>
        <mat-cell *matCellDef="let characterEventWithPlayer" > 
            <mat-form-field floatLabel="never">
              <input matInput placeholder="vpToItems" (blur)="saveVpToItems(characterEventWithPlayer.characterEvent)"[value]="characterEventWithPlayer.characterEvent.vpToItems" [(ngModel)]="characterEventWithPlayer.characterEvent.vpToItems">
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="xpBought">
        <mat-header-cell *matHeaderCellDef> XP Bought </mat-header-cell>
        <mat-cell *matCellDef="let characterEventWithPlayer" > 
            <mat-form-field floatLabel="never">
              <input matInput placeholder="xpBought" (blur)="saveVpToItems(characterEventWithPlayer.characterEvent)"[value]="characterEventWithPlayer.characterEvent.xpBought" [(ngModel)]="characterEventWithPlayer.characterEvent.xpBought">
            </mat-form-field>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
        <mat-cell *matCellDef="let characterEventWithPlayer" >
             <button mat-raised-button color="warn" (click)="openConfirmationDialog(characterEventWithPlayer.characterEvent)" ><mat-icon>delete</mat-icon></button> 
        </mat-cell>
    </ng-container>
    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>