<mat-card class="reset-form">
  <mat-card-title>Forgot Password</mat-card-title>
  <p *ngIf="!this.resetSuccess">Please enter the email address of your account to send a password reset link:</p>
  <form *ngIf="!this.resetSuccess" [formGroup]="ForgotPasswordForm" novalidate>
    <div class="form-group">
  
      <mat-form-field color="accent">
        <input matInput class="form-control" formControlName="email" type="text" placeholder="Email">
      </mat-form-field>
    
    </div>
    <button mat-raised-button color="primary" (click)="resetPassword()" [disabled] = "this.ForgotPasswordForm.invalid" >Send Reset Email</button>
  </form>
  <mat-spinner *ngIf="this.isLoading" style="margin:0 auto; opacity: 0.5;"></mat-spinner>
  <p *ngIf="this.resetSuccess">Your request has been sent! And email containing a password reset link has been sent to {{ email }}</p>
</mat-card>