.code {
    color: #56c456!important;
    font-family: monospace;
    font-weight: 600;
    /*margin-left: 87%;*/
}

h1 {
    text-align: center;
}

.codes {
    /*width: 50%;*/
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.result {
    /*width: 49%;*/
    display: inline-block;
    vertical-align: top;
    text-align: left;
    padding-left: 1em;
}
.code-format, input {
    color: #56c456!important;
    font-family: monospace;
    font-weight: 600;
}

.code:hover {
    cursor: pointer;
    color: #000!important;
    background-color: #56c456;
}

.puzzle {
    margin-left: 3em;
    text-align: center;
}

#Password {
    width:300px; 
    margin-left:auto; 
    margin-right:auto;
    background-color: #1f1e1e;
    border: #56c456 2px solid;
    border-radius: 0px;
    margin-top: 2em;
}

button.mat-primary {
    border: #56c456 2px solid;
    background-color: #56c456;
    border-radius: 0px;
    font-family: monospace;
    font-weight: 600;
}