/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";

* {
    margin: 0 auto;
}

app-characters, app-user-list {
    width: 100%;
}

body {
    background-color: #1f1e1e;
}