<mat-card id="setup-card">
  <h1><mat-icon>widgets</mat-icon>Hacking Puzzle Setup</h1>
  <div *ngIf="!success" id="setup-form">
    <form [formGroup]="setupForm">

      <span class="numberCircle">1</span>
      <mat-form-field class="hacking-input" color="accent">
        <mat-icon matPrefix>verified_user</mat-icon>
        <input matInput class="form-control" formControlName="password" value="" placeholder="Page Password"/>
        <mat-hint>Password to access the puzzle</mat-hint>
        <mat-error *ngIf="this.setupForm.controls.password.hasError">Password is required</mat-error>
      </mat-form-field>

      <br />
      <span class="numberCircle">2</span>
      <mat-form-field class="hacking-input" color="accent">
        <mat-icon matPrefix>done_all</mat-icon>
        <input matInput class="form-control" formControlName="attempts" type="number" value="" placeholder="Number of Attempts"/>
        <mat-hint>Number of attemps given for the puzzle</mat-hint>
        <mat-error *ngIf="this.setupForm.controls.attempts.hasError">Attempts is required</mat-error>
      </mat-form-field>

      <br />
      <span class="numberCircle">3</span>
      <mat-form-field class="hacking-input" color="accent">
        <mat-icon matPrefix>lock_open</mat-icon>
        <input matInput class="form-control" formControlName="flag" value="" placeholder="Puzzle Code"/>
        <mat-hint>Code after puzzle has been hacked</mat-hint>
        <mat-error *ngIf="this.setupForm.controls.flag.hasError">Code is required</mat-error>
      </mat-form-field>

      <br />
      <span id="one" class="numberCircle">4</span>
      <mat-form-field class="hacking-input" color="accent">
        <mat-icon matPrefix>vpn_key</mat-icon>
        <input matInput class="form-control" formControlName="answer" value="" placeholder="Puzzle Answer"/>
        <mat-hint>Answer for hacking puzzle</mat-hint>
        <mat-error *ngIf="this.setupForm.controls.answer.hasError">Answer is required</mat-error>
      </mat-form-field>

      <br />

      <span class="numberCircle">5</span>
      <mat-form-field class="hacking-input" color="accent">
        <mat-icon matPrefix>library_add</mat-icon>
        <input #option matInput class="form-control" formControlName="option" (keyup.enter)="add()" value="" placeholder="Filler Word"/>
        <mat-hint>Press 'Enter' to add</mat-hint>
      </mat-form-field>

      <br />

      <span class="numberCircle">6</span><button type="button" mat-raised-button class="hacking-input" color="primary" (click)="generatePuzzle()">Generate Puzzle</button>
  
    </form>
  </div>
  <div *ngIf="!success" id="setup-preview">
    <h3>Chosen Words: {{setupForm.value.answer != '' ? this.options.length + 1 : this.options.length}}</h3>
    <div class="answer" *ngIf="setupForm.value.answer != ''">{{ setupForm.value.answer | lowercase }}</div>
    <div class="option" *ngIf="setupForm.value.answer == '' && options.length == 0"> [ Words will load here ] </div>
    <div class="option" *ngFor="let option of options">
        {{ option }} <span class="remove-option" (click)="remove(option)">[ x ]</span>
    </div>
  </div>
  <div class="error" *ngIf="requestFailure">Error: {{ errors }}</div>
  <mat-spinner *ngIf="isLoading" style="margin:0 auto; opacity: 0.5;"></mat-spinner>

  <div *ngIf="success">
    <h2>Your Hacking Puzzle has been successfully generated!</h2>
    <button type="button" mat-raised-button color="primary" routerLink="/hacking-puzzle/">
      View live hacking puzzle
    </button>
  </div>
</mat-card>